.cp-styled {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 12px;
}

.flex-adj {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ====================================== Card Habit Top ================================= */
.habit-card-top {
  background: #fff;
  color: black;
  padding: 1rem;
  transition: transform 0.4s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.habit-card-top .hc-icon {
  min-width: 55px;
  margin-right: 10px;
  background: #f3fbcd;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habit-card-top .hc-habit-count {
  margin-left: 1rem;
}

.habit-card-top .hc-habit-count .hc-habit {
  font-weight: bold;
  color: rgb(163, 163, 163);
}

/* ========================== Grid6 - Lista de hábitos pendentes hoje ==================== */
.habits-pending {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 900px;
}

.list-habits-card {
  background: #ceebc826;
  border-radius: 12px;
  border: 1px solid rgb(223, 223, 223);
  margin-bottom: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 90%;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.card-icon {
  width: 20%;
  margin-top: 1rem;
  text-align: center;
}

.card-icon .icon-ph {
  background-color: #dcf3e0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  padding: 15px 0px;
  margin: 0 auto;
}

.card-content {
  width: 80%;
}

.card-title-wrapper {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: baseline;
  width: 100%;
}

.card-title {
  width: 95%;
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
  padding: 8px 0 0 10px;
  text-align: center;
}

.card-action {
  width: 5%;
  text-align: right;
  padding: 0 30px;
  text-align: center;
}

.habit-rsm {
  font-size: 0.8em;
  color: #757575;
  padding: 5px 0 0 10px;
  text-align: center;
}

.habit-time {
  font-size: 0.9em;
  font-weight: 600;
  color: #333;
  padding: 0 0 10px 10px;
  text-align: center;
}

.btn-done {
  font-size: 0.6rem;
  font-weight: 600;
  padding: 8px 10px 5px 10px;
  margin-left: 10px;
  border-radius: 8px;
  color: #009688;
  border: 1px solid #009688;
  background-color: #e0f2f1;
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-done:hover,
.btn-done:active,
.btn-done:focus {
  color: white;
  background-color: #009688;
  border: 1px solid #009688;
}

.btn-skip {
  font-size: 0.6rem;
  font-weight: 600;
  padding: 8px 10px 5px 10px;
  margin-left: 10px;
  border-radius: 8px;
  color: rgb(150, 0, 0);
  border: 1px solid rgb(150, 0, 0);
  background-color: rgb(242, 224, 224);
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-skip:hover,
.btn-skip:active,
.btn-skip:focus {
  color: white;
  background-color: rgb(150, 0, 0);
  border: 1px solidrgb(150, 0, 0);
}

/* ========================= SLIDER CONTAINER ======================= */
.slider-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  /* Suavidade no iOS */
  gap: 1rem;
  padding: 1rem;
  padding-inline: 2rem;
}

.habit-card-top {
  flex: 0 0 auto;
  width: auto;
  /* Tamanho fixo do card */
  padding: 1rem;
  border-radius: 12px;
  scroll-snap-align: start;
}

.slider-container::-webkit-scrollbar,
.habits-pending::-webkit-scrollbar {
  display: none;
}

.slider-container,
.habits-pending {
  scrollbar-width: none;
  /* Firefox */
}

.btn-add-habit {
  background: #d9f9ab;
  border: #d9f9ab;
  width: 100%;
}

.btn-add-habit:hover {
  background: #d4f9a1;
  border: #d4f9a1;
}

/* min = acima de  */
@media (min-width: 1000px) {
  .habit-card-top {
    width: 20%;
  }
  #logoContainer {
    margin-top: 1rem;
  }

  .habits-pending {
    width: 28%;
    margin-right: 2%;
  }

  .group-pending-graphs {
    display: flex;
    flex-wrap: wrap;
  }

  #graphs {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #daily-consistents {
    display: flex;
    height: -webkit-fill-available;
    gap: 10px;
  }

  #daily-consistents .cp-styled {
    width: 50%;
  }

  .btn-add-habit {
    width: auto;
  }
}
