@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --info: #3366ff;
  --success: #ddfba6;
  --error: #ff4f30;
  --warning: #ffda66;

  --btn-info: #3366ff;
  --btn-success: #9bbd94;
  --btn-error: #ff4f30;
  --btn-warning: #ffda66;

  --light: #fff;

  --font-family: "Nunito", sans-serif;
  --font-light: 300;
  --font-regular: 500;
  --font-medium: 700;
  --font-bold: 800;
}

.modal {
  margin-top: 5rem !important;
}

.fw-bold {
  font-weight: var(--font-bold) !important;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
}

.sidebar {
  width: 170px;
  height: 100vh;
  background-color: #9bbd94;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  transition: transform 0.3s ease;
  z-index: 1050;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar.hide {
  transform: translateX(-100%);
}

.sidebar a,
.sidebar button {
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 18px;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  text-decoration: none;
}

.sidebar a:hover,
.sidebar button:hover {
  background-color: #021316;
}

.dropdown-container a {
  padding: 10px 15px;
}

.dropdown-container {
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  padding-left: 30px;
  transition: max-height 0.3s ease;
}

.sidebar .active + .dropdown-container {
  max-height: 200px;
}

.header {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-left: 170px;
  transition: margin-left 0.3s ease;
  position: relative;
  z-index: 1060;
}

.header.shifted {
  margin-left: 0;
}

.content {
  margin-left: 170px;
  padding: 20px;
  transition: margin-left 0.3s ease;
  background: #ededee;
  min-height: calc(100vh - 60px);
}

.content.shifted {
  margin-left: 0;
}

.toggle-btn {
  display: inline-block;
  cursor: pointer;
}

#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

#logoContainer .logo {
  width: 80px;
}

.btn-primary {
  background-color: var(--btn-info);
  border-color: var(--btn-info);
}

.btn-primary:hover {
  background-color: var(--btn-info);
  border-color: var(--btn-info);
}

.btn-success {
  background-color: var(--btn-success);
  border-color: var(--btn-success);
}

.btn-success:hover {
  background-color: var(--btn-success);
  border-color: var(--btn-success);
}

.btn-danger {
  background-color: var(--btn-error);
  border-color: var(--btn-error);
}

.btn-danger:hover {
  background-color: var(--btn-error);
  border-color: var(--btn-error);
}

.btn-warning {
  background-color: var(--btn-warning);
  border-color: var(--btn-warning);
}

.btn-warning:hover {
  background-color: var(--btn-warning);
  border-color: var(--btn-warning);
}

/* Modals */
.modal-header {
  background: #9bbd94;
  color: #fff;
}

/* inputs */
/* From Uiverse.io by ozgeozkaraa01 */
.input-group-styled {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: 200px;
}

.input-styled {
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding: 0 5rem;
  padding-left: 3rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: 0.5s ease;
}

.input-styled::placeholder {
  color: #94a3b8;
}

.input-styled:focus,
.input-styled:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.input-icon-styled {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}

label span {
  color: red;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .header,
  .content {
    margin-left: 0;
  }
}
